.chat {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.content {
    position: relative;
    height: 100%;
}
.connection {
    flex-direction: column;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
.form {
    display: flex;
    width: 500px;
}
.textarea {
    width: 400px;
    height: 70px;
    border: 2px solid #72add6;
    text-decoration: none;
    outline: none;
}
.textarea:focus {
    border: 2px solid #718ad7;
}
.textarea::-webkit-resizer {
    display: none;
}
.send {
    border: none;
    background-color: #61acde;
    color: white;
    width: 100px;
}
.send:hover {
    background-color: #416aaf;
}
.messages {
    overflow: auto;
    background-color: white;
    display: flex;
    height: 400px;
    width: 500px;
    flex-direction: column;
    align-items: center;
}
.message {
    float: left;
    display: flex;
    height: auto;
    width: fit-content;
    min-width: 200px;
    max-width: 440px;
    background-color: #9bb9f0;
    color: black;
    padding: 10px;
    border-radius: 7px;
    margin: 0px 0px 7px 0px;
}
.messageText {
    overflow-wrap: break-word;
    max-width: 380px;
    white-space: pre-line;
}
.ldsFacebook {
    display: inline-block;
    position: relative;
    width: 70px;
    height: 80px;
}
.ldsFacebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 5px;
    background: #fff;
    animation: ldsFacebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.ldsFacebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}
.ldsFacebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}
.ldsFacebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0s;
}
@keyframes ldsFacebook {
    0% {
        top: 4px;
        background-color: #26de81;
        height: 24px;
    }
    50% {
        background-color: #fed330;
    }
    100% {
        background-color: #fc5c65;
        top: 12px;
        height: 8px;
    }
}
