.chatBody {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.chat {
    width: 500px;
    background: #74b9ff;
    border-radius: 5px;
}
.header {
    padding: 20px;
    border-bottom: 2px solid white;
}
.header:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
}
.avatar {
    height: 50px;
    border-radius: 50%;
    float: left;
}
.about {
    float: left;
    padding-left: 10px;
    margin-top: 6px;
}
.companion {
    font-weight: bold;
    font-size: 16px;
}
.total {
    color: #0984e3;
}
.history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 575px;
}
.form {
    padding: 30px;
}
.textarea {
    outline: none;
    width: 100%;
    border: none;
    font: 14px/22px 'Lato', Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
}
.textarea::-webkit-resizer {
    display: none;
}
.send {
    float: right;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background: none;
}
.send:hover {
    color: black;
}
.history::-webkit-scrollbar {
    width: 5px;
    height: 7px;
}
