.usersList {
    width: 250px;
    background-color: #2da6ff;
    border-right: 2px solid white;
}
.header {
    background-color: #0f87ff;
    padding: 10px;
    border-bottom: 2px solid white;
}
.content {
    display: flex;
    flex-direction: column;
}
