.signupForm {
    border-radius: 20px;
    background-color: #3498db;
    padding-top: 90px;
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.signUpIn {
    font-size: 20px;
    text-align: center;
    width: 400px;
    height: 40px;
    border: 2px solid #c7ecee;
    border-radius: 20px;
    outline: none;
    color: #2d3436;
}
.signupAcceptContainer {
    color: #dff9fb;
    font-size: 18px;
    width: 400px;
    display: flex;
    justify-content: space-around;
}
.signupAcceptContainer a {
    text-decoration: none;
    color: #3ae374;
}
.signupAcceptContainer input[type='checkbox'] {
    display: none;
}
.signupAcceptContainer label::before {
    cursor: pointer;
    content: '';
    width: 15px;
    height: 15px;
    border: 1px solid white;
    border-radius: 7px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
    background-size: 100%;
}
.signupAcceptContainer input[type='checkbox']:checked + label::before {
    background-image: url('../../../assets/img/check.png');
}
.enterup {
    border-radius: 30px;
    width: 250px;
    height: 49px;
}
.enter {
    background-color: #44bd32;
    border: 2px solid #7bed9f;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #dff9fb;
    margin-bottom: 20px;
    cursor: pointer;
    outline: none;
}
