.message {
    position: relative;
    display: flex;
    background-color: #82c5f7;
    color: black;
    border-radius: 10px;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-evenly;
    width: 430px;
    min-height: 60px;
}
.avatar {
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.messageBody {
    width: 330px;
}
.header {
    display: flex;
    height: 15px;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.name {
    color: #1e90ff;
}
.time {
    font-size: 10px;
    margin-left: 5px;
    color: #778ca3;
}
.text {
    min-height: 40px;
    word-wrap: break-word;
    margin-bottom: 5px;
}
