.message {
    border-radius: 10px 10px 10px 0;
    margin-bottom: 10px;
    display: flex;
    width: fit-content;
    background-color: #5bbaff;
    padding: 0 10px 0 10px;
}
.message.me {
    margin-left: auto;
    flex-direction: row-reverse;
    border-radius: 10px 10px 0 10px;
}
.messageBody {
    display: flex;
    flex-direction: column;
    padding: 0 10px 15px 10px;
}
.text {
    word-break: break-all;
}

.avatarContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.header {
    display: flex;
    height: 15px;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.name {
    color: #1573ff;
}
.time {
    font-size: 10px;
    margin-left: 5px;
    color: #ffffff;
}
.change {
    fill: red;
    width: 15px;
    margin-top: 5px;
    height: 15px;
}
.change:hover {
    cursor: pointer;
}
.textChange {
    border: none;
    border-radius: 5px;
    outline: none;
    padding-left: 10px;
    width: 120px;
}
.read {
    color: #828282;
}
.functions {
    display: flex;
    flex-direction: column;
}
