.profile {
    width: 100%;
}
.profileContainer {
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}
.header {
    padding: 20px;
    width: 80%;
    height: 60%;
    background-color: #5294f5;
}
.createDay {
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-bottom: 10px;
    margin-left: auto;
}
.userInfo {
    display: flex;
}

.avatarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.avatar {
    height: 150px;
    border-radius: 20px;
}
.addToFriend {
    margin-top: 10px;
    outline: none;
    border: 1px solid #015bb6;
    height: 35px;
    width: 90%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.info {
    margin-left: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.username {
    font-size: 40px;
}
.otherInfo {
    margin-top: 10px;
    display: flex;
    width: 220px;
    justify-content: space-between;
}
.friends {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100px;
    border: 1px solid white;
    border-radius: 10px;
}
.settings {
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #5294f5;
    width: 80%;
    height: 100%;
    border: 1px solid white;
    font-size: 20px;
}
