.button {
    cursor: pointer;
    display: flex;
    cursor: pointer;
    height: 40px;
    width: 45px;
    margin-right: 20px;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #3498db;
    width: 500px;
    height: 400px;
    border-radius: 20px;
}
.close {
    position: absolute;
    right: 15px;
    top: 0;
    display: inline-block;
    font-size: 40px;
    cursor: pointer;
    color: #fff;
}
.close:hover {
    color: red;
    transition: 0.6s;
}
.choice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 25px;
    width: 400px;
}
.choiceIn {
    cursor: pointer;
    color: #dff9fb;
    font-size: 30px;
    border-bottom: 3px solid transparent;
}
.choiceUp {
    cursor: pointer;
    color: #dff9fb;
    font-size: 30px;
    border-bottom: 3px solid transparent;
}
.active {
    border-color: #44bd32;
    color: white;
}
.userContainer {
    display: flex;
    height: 70px;
    width: 260px;
    border-radius: 30px;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}
.avatar {
    padding-left: 5px;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    display: flex;
}
.nickname {
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.logout {
    outline: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    margin-right: 20px;
    background-color: #fd7039;
    border: 0px;
    border-radius: 5px;
    height: 20px;
    color: white;
    font-size: 12px;
}
