.chat {
    display: flex;
    flex-direction: column;
    width: 500px;
    background: #74b9ff;
    border-radius: 0 20px 20px 0;
    height: 85vh;
}
.header {
    display: flex;
    padding: 15px;
    border-bottom: 2px solid white;
}
.avatar {
    height: 50px;
    border-radius: 50%;
}
.about {
    margin-left: 30px;
}
.companion {
    font-weight: bold;
    font-size: 16px;
}
.companion:first-letter {
    text-transform: uppercase;
}
.total {
    color: #0984e3;
}
.history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    background-color: #5595ff;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.history::-webkit-scrollbar {
    width: 5px;
    height: 7px;
}
.form {
    height: 80px;
    display: flex;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.textarea {
    height: 50px;
    resize: vertical;
    outline: none;
    display: block;
    border: none;
    font: 14px/22px 'Lato', Arial, sans-serif;
    border-radius: 5px;
}
.textarea::-webkit-resizer {
    display: none;
}
.send {
    margin-top: 10px;
    margin-left: auto;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background: none;
}
.send:hover {
    color: black;
}
